.input__label {
    color: #9E85F1;
    font-size: .9rem;
    margin-bottom: .6rem;
}

.input__field {
    background: rgba(158, 133, 241, .05);
    padding: 1rem;
    border-radius: .5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: .1rem solid #9E85F1;
}

.input__field__coin {
    color: #ffffff;
    font-weight: bold;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    cursor: pointer;
}

.input__field__coin__icon {
    width: 1.5rem;
    margin-right: .5rem;
}

.input__field__coin__arrow {
    right: 0;
    width: .4rem;
    margin-left: .6rem;
    transform: rotate(90deg);
}

.input__field__item {
    background: transparent;
    border: none;
    color: #ffffff;
    font-weight: bold;
    text-align: end;
}

.input__field__item:focus {
    outline: none;
}

