@font-face {
  font-family: "Plus Jakarta Sans";
  src: url('../public/pjs.woff2');
  font-weight: 400;
}

@font-face {
  font-family: "Plus Jakarta Sans";
  src: url('../public/pjs-bold.woff2');
  font-weight: 600;
}

* {
  box-sizing: border-box;
  font-family: "Plus Jakarta Sans" !important;
}

a {
  text-decoration: none !important;
  color: unset !important;
  margin: 0 !important;
}

html {
  font-size: calc(100vw / 1920 * 20);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url(./assets/BG.png);
  background-size: cover;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input[type=number]::-webkit-inner-spin-button { 
  -webkit-appearance: none;
  appearance: none;
}
input[type=number] { 
 -moz-appearance: textfield;
 appearance: textfield;

}