.info {
    background: rgba(158, 133, 241, .05);
    padding: .5rem;
    border-radius: .5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    flex-shrink: 0;
    margin-top: .5rem;
}

.info__text {
    font-weight: bold;
    text-transform: uppercase;
    background: transparent;
    border: none;
    color: #ffffff;
    display: block;
    width: 80%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding-left: 1rem;
}

.info__text:focus {
    outline: none;
}

.info__button {
    width: 3rem;
    height: 3rem;
    background: rgba(37, 16, 56, .1);
    border: .1rem solid #9E85F1;
    border-radius: .5rem;
    transition: background .4s linear;
}

.info__button:hover {
    background: rgba(37, 16, 56, .7);
}

.info__button__icon {
    width: 60%;
}